@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes driftUp {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

@keyframes driftDown {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(100px);
  }
}

.layer-up {
  animation: driftUp 80s linear infinite;
}

.layer-down {
  animation: driftDown 120s linear infinite;
}